<footer>
<div class="container-fluid my-5 mb-5">
  <div class="row blue text-warning">
    <div class="col p-4">
      <ul class="list">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      <div class="row px-4">
        <div class="col-1 rounded rounded-circle">O</div>
        <div class="col-1 rounded rounded-circle">O</div>
        <div class="col-1 rounded rounded-circle">O</div>
        <div class="col-1 rounded rounded-circle">O</div>
      </div>
    </div>
    <div class="col p-4">
      <ul class="list">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
    <div class="col border border-2 m-4 rounded bg-light"></div>
  </div>
</div>
</footer>
