<footer>
<div class="container-fluid blue">
  <div class="row col-sm  text-warning">
    <div class="col-sm-4 py-4">
      <ul class="list">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      <div class="row col-sm px-4 text-light">
        <div class="col-1 rounded rounded-circle">O</div>
        <div class="col-1 rounded rounded-circle">O</div>
        <div class="col-1 rounded rounded-circle">O</div>
        <div class="col-1 rounded rounded-circle">O</div>
      </div>
    </div>
    <div class="col-sm py-4">
      <ul class="list">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
    <div class="col-sm col-md m-1">
      <img src="../assets/img/prof6.jpg" title="Eleve" class="col-sm col-md img-fluid py-1">
    </div>
  </div>
</div>
</footer>
