<div class="container-fluid my-5 mb-5">
  <div class="text-center text-blue">
    <h3>Nos personnelles</h3>
    <span><p>Lorem Ipsum is simply dummy text of the printing</p></span>
  </div>
  <div class="row blue text-center">
    <div class="col p-4 text-warning "><span class="rounded rounded-circle bg-light p-3">530+ Eleves</span></div>
    <div class="col p-4 text-warning "><span class="rounded rounded-circle bg-light p-3">75+ Professeur</span></div>
    <div class="col p-4 text-warning "><span class="rounded rounded-circle bg-light p-3">30+ classes</span></div>
  </div>
</div>
