<div class="container col-sm-8">
  <div class="row">
    <div class="col-sm-5">
      <ul class="list py-5">
        <li class="list-group-item">lwps@gmail.com</li>
        <li class="list-group-item">Saaba, Ouagadougou, Burkina Faso</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
    <div class="col-sm-7">
      <div class="mb-1">
        <label for="exampleFormControlTextarea1" class="form-label fs-5 text-blue">Entrez ici votre message</label>
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="4"></textarea>
      </div>
      <div class="mb-1 d-flex">
        <input type="email" class="form-control rounded-0" id="exampleFormControlInput1" placeholder="email@gmail.com">
        <input type="text" class="form-control rounded-0" placeholder="Description">
      </div>
      <input type="submit" class="btn blue rounded-0 text-light">
      
    </div>
  </div>
</div>
