<div class="container my-5">
  <div class="text-center">
    <h3>Notre gallerie</h3>
    <span><p>Lorem Ipsum is simply dummy text of the printing</p></span>
  </div>
  <div class="row">
    <div class="col-sm col-md gallery">
      <img src="../assets/img/gallery s8.jpg" title="Eleve" class="col-sm col-md gallery img-fluid py-1">
    </div>
    <div class="col-sm col-md gallery">
      <img src="../assets/img/gallery s7.jpg" title="Eleve" class="col-sm col-md gallery img-fluid py-1">
    </div>
    <div class="col-sm col-md gallery ">
      <img src="../assets/img/gallery s5.jpg" title="Eleve" class="col-sm col-md gallery img-fluid py-1 mx-0">
    </div>
  </div>
</div>
