<div class="container">
  <div class="row">
    <div class="col-sm col-md py-5 bg-light px-0">
      <img src="../assets/img/about.jpg" class="col-sm col-md shadow img-fluid p-0 m-0">
    </div>
    <div class="col-sm-6 col-md-8  border border-2 bg-dark shadow text-light p-5">
      <h3 class="text-warning">A propos de nos etudes</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
      <div class="btn btn-primary text-light">S'inscrire</div>
    </div>
  </div>
</div>
<app-personnel></app-personnel>

<div class="container mb-5">
  <div class="row">
    <h3>Statistique de la progression de notre etablissement</h3>
    <div class="col-sm col-md bg-light px-0">
      <img src="../assets/img/about.jpg" class="col-sm col-md shadow img-flui">
    </div>
  </div>
</div>

<div class="container-fluid my-5">
  <div class="row">
    <div class="col border border-2 bg-secondary text-center shadow text-light p-5 px-5">
      <div class="col-sm col-md offset-1">
      <h3 class="text-warning">Lycee Wend-Puire de Saaba</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p></div>
    </div>
  </div>
</div>
<app-profesors></app-profesors>