<div class=" container-fluid">
  <div class="row  col-10 offset-1">
    <div class="col">
      <div class="card col-sm">
        <div class="card-body text-warning text-center blue">
          NOS EVENEMENTS
        </div>
      </div>
      <div class="card col-sm rounded-0">
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, illo nulla harum, ipsum recusandae atque
          fugit cumque
        </div>
      </div>
      <div class="card col-sm rounded-0">
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, illo nulla harum, ipsum recusandae atque
          fugit cumque magnam error place
        </div>
      </div>
      <div class="card col-sm rounded-0">
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, illo nulla harum, ipsum recusandae atque
          fugit cumque magnam error placeat corru
        </div>
      </div>
      <div class="card col-sm rounded-0">
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, illo nulla harum, ipsum recusandae atque
          fugit cumque magnam error placeat corrup
        </div>
      </div>
    </div>

    <div class="col-sm-7">
      <div class="card rounded-0">
        <div class="card-body p-5">
        </div>
        <div class="card-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus voluptatem
          aspernatur praesentium</div>
      </div>
      <div class="card rounded-0">
        <div class="card-body p-5">
        </div>
        <div class="card-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus voluptatem aspernatur praesentium</div>
      </div>
      <div class="card rounded-0">
        <div class="card-body p-5">
        </div>
        <div class="card-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus voluptatem aspernatur praesentium</div>
      </div>
      <div class="card rounded-0">
        <div class="card-body p-5">
        </div>
        <div class="card-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus voluptatem aspernatur praesentium</div>
      </div>
    </div>
  </div>
</div>
