<div class="container-fluid bg-secondary my-5 p-2">
  <div class="card border bg-secondary border-0 m-0">
    <div class="card-header border-0 border text-center text-blue">
      <h3>LYCEE WEND-PUIRE DE SAABA</h3>
    </div>
    <div class="col-10 offset-1 bg-dark p-5 shadow bg-body rounded">
      <img src="" class="card-img-top" alt="...">
    </div>
    <div class="card-body col-8 text-light offset-1">
      <h5 class="card-title">Pourquoi s'inscrire</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae necessitatibus reprehenderit quaerat minima. Tempore harum quod iste, distinctio modi consectetur dicta quam repudiandae rem repellat tempora odit perferendis repellendus velit.</p>
      <div class="btn btn-primary">Demarer l'inscription</div>
    </div>
  </div>
</div>
