<div class="container-fluid bg-secondary my-5 p-2">
  <div class="card border bg-secondary border-0 m-0">
    <div class="card-header border-0 border text-center text-light py-2 fs-2">
      <h3>LYCEE WEND-PUIRE DE SAABA</h3>
    </div>
    <div class="col-10 col-sm col-md  offset-1 shadow  rounded">
      <img src="../assets/img/gallery s5.jpg" title="Eleve" class="description card-img-top col-sm col-md gallery img-fluid">
    </div>
    <div class="card-body col-8 col-sm col-md  text-light offset-1">
      <h5 class="card-title fs-4 ">Pourquoi s'inscrire</h5>
      <p class="card-text col-sm col-md">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae necessitatibus reprehenderit quaerat minima. Tempore harum quod iste, distinctio modi consectetur dicta quam repudiandae rem repellat tempora odit perferendis repellendus velit.</p>
      <div class="btn blue text-light">Demarer l'inscription</div>
    </div>
  </div>
</div>
