body, .body{
background-color:#E5E5E5;
}
.blue{
  background-color:#14213D;
}
.text-blue{
  color:#14213D;
}

.card img{
height:70%;
  overflow:hidden;
}

.modal-fullscreen{
  width:100vw;
  max-width:none;
  height:300px;
  margin:0;
}

body, html {
  height: 100%;
}

.full-screen {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description{
  height:450px !important;
  overflow:hidden;
}
