<div class="container my-5">
  <div class="text-center text-blue">
    <h3>Nos Professeurs</h3>
    <span><p>Lorem Ipsum is simply dummy text of the printing</p></span>
  </div>
  <div class="row">
    <div class="col-sm col-md m-1">
      <img src="../assets/img/prof1.jpg" title="Eleve" class="col-sm col-md gallery img-fluid py-1">
    </div>
    <div class="col-sm col-md m-1">
      <img src="../assets/img/prof2.jpg" title="Eleve" class="col-sm col-md gallery img-fluid py-1">
    </div>
    <div class="col-sm col-md m-1">
      <img src="../assets/img/prof4.jpg" title="Eleve" class="col-sm col-md gallery img-fluid py-1">
    </div>
    <div class="col-sm col-md m-1">
      <img src="../assets/img/prof6.jpg" title="Eleve" class="col-sm col-md gallery img-fluid py-1">
    </div>
  </div>
</div>
